@{ ViewData["Title"] = "О нас"; }

<main role="main">
    <div class="jumbotron bg-light">
        <div class="container">
            <a href="/" class="d-flex align-self-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/img/LogoBlack.svg" class="bi me-2 pr-2" width="100" height="100" role="img" aria-label="Bootstrap">
                <h5 class="display-3" style="color:black">Добро пожаловать в магазин Эдельвейс!</h5>
            </a>
            
            <p style="font-size:20px">Вы находитесь на сайте лучшего магазина мебели! Мы создаем лучшую мебель для вашего интерьера. Сделайте свой дом шедевром!</p>
            <p><a class="btn btn-warning btn-lg" asp-controller="Furniture" asp-action="Index" role="button">Перейти к выбору мебели! »</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Большой выбор</h2>
                <p>На нашем представлены огромный каталог моделей мебели на любой вкус! Обширный выбор мебельных групп! Мебель для кухни, спальни, ванной, прихожей, 
                дачи, а так же меблель для вашего бизнесса: для бара, ресторана, учебного заведения или гостиницы.
                От маленького декоративного растения для вашего офиса, до огромного письменного стола!</p>
            </div>
            <div class="col-md-4">
                <h2>Удобная оплата</h2>
                <p>Вам не нужно звонить нам в офис и договариваться о доставке. Просто заполните форму на сайте: укажите адресс, ваши данные и оплатите онлайн с помощью
                банковской карты! Мы принимаей оплату картами МИР, Visa, Master Card!</p>
            </div>
            <div class="col-md-4">
                <h2>Поиск по сайту</h2>
                <p>Для вашего удобства можно проводить поиск по нашему каталогу! Введите название интересующего вас товара или выбирете категорию в меню!</p>
            </div>
        </div>

        <hr>
         <p>
             Вы можете с нами связаться <a href="mailto:rkozliak@gmail.com"> электронной почте</a> или по телефону 8 (989) 752 08 35
</p> 
    </div>
</main>